<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Course</title>
  </head>
  <body>
    <h1>Add Course</h1>

    <%- include("header") %>
    <form action="/courses/add" method="post">
      <label>Name</label>
      <input type="text" name="name" />

      <label>Description</label>
     <textarea name="description"></textarea>

      <label>Price</label>
      <input type="text" name="price" />

      <label>Category</label>
      <select name="category">
        <option selected disabled hidden>--Choose--</option>
        <% ["Pemrograman", "Web Dasar", "Backend", "Database"].forEach(category => { %>
         <option value="<%= category %>"><%= category %></option>
        <% }) %>
      </select>
      
      <button type="submit">Add Course</button>
    </form>
    <%- include("footer") %>
  </body>
</html>
