<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/register.css" />
  <title>User Registration</title>
</head>

<body>
  <div class="register-container">
    <h1>Register First!!!</h1>
    <% if (errors) { %>
    <% errors = errors.split(',') %>
    <div class="error-grid">
      <% errors.forEach(el => { %>
      <div class="error-message"><%= el %></div>
      <% }) %>
    </div>
    <% } %>

    <form action="/register" method="post">
      <label>First Name</label>
      <input type="text" name="firstName" />

      <label>Last Name</label>
      <input type="text" name="lastName" />

      <label>Date of Birth</label>
      <input type="date" name="birthOfDate" />

      <label>Email</label>
      <input type="email" name="email" />

      <label>Phone Number</label>
      <input type="text" name="phoneNumber" />

      <label>Role</label>
      <select name="role">
        <option selected disable hidden>--Choose--</option>
        <% ["Teacher", "Student"].forEach(role => { %>
        <option value="<%= role %>"><%= role %></option>
        <% }) %>
      </select>

      <label> Password</label>
      <input type="password" name="password">

      <button type="submit">Register</button>
    </form>
  </div>
</body>

</html>